@import '../../../styles/mediaVariables.scss';

.documents {
  & a {
    color: var(--color-primary);
    font-weight: 200;
    font-size: 16px;
    line-height: 21px;

    &:hover,
    &:active {
      opacity: 0.5;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;

  & li {
    margin-bottom: 15px;
  }

  @media (min-width: $breakpoint-md) {
    & li {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $breakpoint-lg) {
    margin-left: 60px;
  }
}
